@use "../../styles/variables.scss" as var;

.student-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fff;
    // justify-content: flex-start;
    // align-items: center;
    padding: 20px 10px;
    padding-left: 0px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    border-left: solid 10px #fff;
    height: 100%;
    &:last-child{
        margin-bottom: 0px;
    }
    &:hover{
        border-left: solid 10px var.$secondary-color;
        cursor: pointer;
    }
    .student-data{
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        .student-info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            padding: 0px 10px;
            h1{
                margin:0;
                padding: 0;
                font-size: 18px;
                color: var.$secondary-color;
                font-weight: 600;
            }
            h2{
                margin: 0;
                padding: 0;
                font-weight: 400;
                color: #666;
                font-size: 16px;
            }
        }
        .student-desc{
            display: flex;
            padding: 0px 10px;
            p{
                margin: 0;
                font-size: 18px;
            }
        }
    }
    .student-groups{
        display: flex;
        flex-wrap: wrap;
        padding: 5px 10px;
        span{
            height: fit-content;
            font-size: 12px;
            margin-right: 5px;
            padding: 5px;
            border-radius: 12px;
            font-weight: 500;
            &.group-badge{
                color: #fff;
                padding: 5px 10px;
                background-color: #848d94;
            }
        }
    }
    .student-actions{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        svg{
            margin: 0px 5px;
            color: #999;
            &.details-btn{
                &:hover{
                    cursor: pointer;
                    color: var.$info-color;
                }
                &:active{
                    color: darken(var.$info-color, 10%);
                }
            }
            &.edit-btn{
                &:hover{
                    cursor: pointer;
                    color: var.$success-color;
                }
                &:active{
                    color: darken(var.$success-color, 10%);
                }
            }
            &.remove-btn{
                &:hover{
                    cursor: pointer;
                    color: var.$danger-color;
                }
                &:active{
                    color: darken(var.$danger-color, 10%);
                }
            }
        }
    }
}