@use '../../styles/variables.scss' as var;

.students-page{
    height: 100%;
    display: flex;
    flex-direction: column;
    .students-page-header{
        height: 60px;
        display: flex;
        width: 100%;
        .MuiFormControl-root{
            width: 100%;
            
            label{
                color: #999;
            }
            .MuiInputBase-root{  
                background-color: #fff;      
                fieldset{
                    border-color: #aaa;
                }                   
                &:hover{
                    fieldset{
                        border-color: var.$secondary-color;
                    }
                }
                &.Mui-focused{
                    fieldset{
                        border-color: var.$secondary-color;
                        border-width: 2px;
                    }
                }
                input{
                    color: var.$primary-font-color;
                    font-size: 18px;
                }
            }
        }
        .students-page-actions{
            width: fit-content;
            display: flex;
            button{
                margin-left: 15px;
                height: 100%;
                svg{
                    margin-left: 5px;
                }
                &#create-btn{
                    background: var.$secondary-color;
                    &:hover{
                        background-color: var.$secondary-color-accent;
                    }
                }
                &#filters-btn{
                    background-color: #fff;
                    color: #333;
                    border-color: #aaa;
                }
            }
        }
    }
    .students-page-content{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .students-container{
            height: 100%;
            padding: 20px 0px;
            display: flex;
            flex-direction: column;
            // overflow-y: visible;
        }
        .students-paggination{
            display: flex;
            // align-items: center;
            padding: 15px;
            justify-content: center;
        }
    }
}