@use "../../styles/variables.scss" as var;

.group-card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    .group-card-header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        h1{
            padding: 10px 0px 5px 0px;
            margin: 0;
            font-size: 28px;
            font-weight: 600;
            color: var.$secondary-color;
        }
        .group-actions{
            button{
                font-size: 22px;
                color: #999;
                min-width: unset;
                background-color: unset;
                padding:6px;
                &.group-edit-btn:hover{
                    color: var.$success-color;
                }
                &.group-remove-btn:hover{
                    color: var.$danger-color;
                }
            }
        }
    }
    .group-card-body{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .group-info{
            height: 100%;
            font-size: 24px;
            font-weight: 300;
            .group-desc{
                margin: 0;
                padding-bottom: 10px;
                color: #333;
            }
            .group-next-classes{
                display: flex;
                align-items: center;
                margin: 0;
                padding: 10px 0px;
                color: #666;
                font-size: 20px;
                font-weight: 400;
                svg{
                    margin-right: 5px;
                }
            }
        }
        .group-content{
            .MuiAccordion-root{
                box-shadow: none;
                &::before{
                    display: none;
                }
                &:first-child{
                    border-bottom: solid 1px rgba(0, 0, 0, 0.25);
                }
                .MuiAccordion-heading{
                    .MuiAccordionSummary-root{
                        padding: 0;
                        flex-direction: row-reverse;
                        .MuiAccordionSummary-expandIconWrapper{
                            margin-right: 5px;
                            &.Mui-expanded{
                                transform: rotate(90deg);
                            }
                        }
                    }
                    .MuiAccordionSummary-content{
                        font-family: var.$default-font;
                        text-transform: uppercase;
                        font-weight: 500;
                        span{
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            font-size: 18px;
                            .group-numbers-chip{
                                margin-left: 5px;
                                display: flex;
                                background-color: #848d94;
                                color: #fff;
                                font-size: 13px;
                                padding: 2px 8px;
                                border-radius: 12px;
                            }
                        }
                    }
                }
                .MuiAccordionDetails-root{
                    padding: 0px 15px;
                    .group-attach-btn{
                        color: var.$secondary-color;
                        border: solid 2px var.$secondary-color;
                        width: 100%;
                        margin: 8px 0px;
                        padding: 8px 16px;
                    }
                    .MuiList-root{
                        .MuiListItem-root{
                            &:hover{
                                background-color: darken(#fff, 5%);
                                cursor: pointer;
                            }
                            .MuiListItemIcon-root{
                                min-width: unset;
                                button{
                                    min-width: unset;
                                    color: #999;
                                    background-color: unset;
                                    padding: 8px;
                                    &:hover{
                                        color: var.$danger-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .group-card-footer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 18px;
            border-top: solid 1px rgba(0, 0, 0, 0.25);
            padding-top: 10px;
            .group-card-actions{
                margin-left: 10px;
                color: #999;
                svg{
                    margin-left: 10px;
                    &.edit-btn{
                        &:hover{
                            cursor: pointer;
                            color: var.$success-color;
                        }
                        &:active{
                            color: darken(var.$success-color, 10%);
                        }
                    }
                    &.remove-btn{
                        &:hover{
                            cursor: pointer;
                            color: var.$danger-color;
                        }
                        &:active{
                            color: darken(var.$danger-color, 10%);
                        }
                    }
                }
            }
        }
    }
}