@use "../../styles//variables.scss" as var;

.groups-page{
    height: 100%;
    .groups-page-content{
        display: grid;
        column-gap: 30px;
        row-gap: 30px;
        overflow-y: visible;
        // grid-template-columns: auto auto auto auto;
        .group-add{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 50px;
            border-radius: 10px;
            width: 100%;
            min-height: 250px;
            border: dashed 2px rgba(0, 0, 0, .25);
            color: rgba(0, 0, 0, .25);
            font-size: 50px;
            &:hover{
                color: #666;
                border: solid 2px #666;
                cursor: pointer;
            }
        }
    }
}