.dashboard-carousel{
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .carousel-panels-wrapper{
        display: flex;
        flex-direction: column;
        width: 620px;
        height: 620px;
        overflow: hidden;
        padding: 10px 20px 20px 20px;
        .carousel-title{
            margin: 0;
            margin-bottom: 20px;
            text-transform: uppercase;
            color: #999;
            font-size: 32px;
        }
        .carousel-panels{
            display: flex;
            flex-direction: row;
            transition: transform 0.4s ease;
            .content-panel{
                min-width: 580px;
                min-height: calc(580px - 48px);
                .note-card{
                    height: 100%;
                }
                &.hidden{
                    .note-card{
                        box-shadow: none;
                        transition: box-shadow .4s ease;
                    }
                }
                &:not(:last-child){
                        margin-right: 20px;
                }
            }
        }
    }
    .carousel-panels-indicators{
        display: flex;
        align-items: center;
        justify-content: center;
        .panel-indicator{
            width: 12px;
            height: 12px;
            margin: 0px 2px;
            background: unset;
            outline: none;
            border: solid 1px #999;
            border-radius: 100%;
            transition: all .3s ease;
            &.active{
                background-color: #bbb;
            }
        }
    }
}