@use "../../styles/variables.scss" as var;

.note-card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    .note-card-header{
        h1{
            margin: 0;
            padding: 15px 0px;
            font-size: 18px;
            color: #000;
            font-weight: 400;
        }
    }
    .note-card-body{
        font-size: 18px;
        color: #666;
        font-weight: 300;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .note-card-content{
            padding: 15px 0px;
        }
        .note-card-footer{
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 15px 0px;
            border-top: solid 1px rgba(0, 0, 0, 0.25);
            .note-card-action-buttons{
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: none;
                    border: none;
                    padding: 0;
                    margin: 0;
                    padding-left: 15px;
                    font-size: 18px;
                    color: #666;
                    align-items: center;
                    justify-content: center;
                    &.edit-btn{
                        &:hover{
                            color: var.$success-color;
                        }
                        &:active{
                            color: darken(var.$success-color, 10%);
                        }
                    }
                    &.remove-btn{
                        &:hover{
                            color: var.$danger-color;
                        }
                        &:active{
                            color: darken(var.$danger-color, 10%);
                        }
                    }
                }
            }
        }
    }
}
