@use "../../styles/variables.scss" as var;

.side-nav-container{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    .side-nav-header{
        font-size: 24px;
        font-weight: 600;
        padding: 30px 0px 15px 15px;
        a{
            &:visited{
                color: unset;
            }
            &:hover{
                color: var.$secondary-color;

            }
        }
    }
    .side-nav-body{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 0px;
        .nav-links{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                font-size: 24px;
                padding: 15px 0px;
                text-transform: uppercase;
                font-weight: 400;
                color: #999;
                a{
                    text-decoration: none;
                    display: inline-flex;
                    align-items: center;
                    svg{
                        padding: 0;
                        margin: 0px 15px;
                    }
                    &:visited{
                        color: unset;
                    }
                }
                &:hover{
                    color: var.$secondary-color;
                    &::after{
                        content: "";
                        width: calc(20% - 5px);    
                        height: 5px;
                        display: block;
                        background-color: var.$secondary-color;
                        position: absolute;
                    }
                }
            }
        }
        .side-nav-footer{
            align-self: center;
            span{
                font-size: 18px;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                color: #999;
                user-select: none;
                svg{
                    margin: 0px 10px;
                }
                &:hover{
                    cursor: pointer;
                    color: #333;
                }
            }
        }
    }
}